header{
  height:650px;
  background:url(../../assets/img/camera.jpg) no-repeat center;
  background-size:cover;
}
.navbar{
    margin: 0px;
}
.navbar-nav{
  margin-top:14px;
}

.navbar-nav .nav li{
  height:50px;
}

.navbar-nav > li > a{
  padding-top:8px;
  padding-bottom:8px;
  line-height:32px;
}

.navbar-default .navbar-nav > li > a{
  color:#333;
  font-weight:bold;
  background-color:rgba(255,255,255,0.4);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  color:#fff;
  background-color:rgba(0,0,0,0.6);
  font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:#333;
  background-color:#fff;
  font-weight:bold;
}

.navbar-toggle{
  background-color:#fff !important;
  box-shadow:1px 1px 1px rgba(0,0,0,0.4);
  margin-top:20px;
}

nav.navbar.navbar-default{
  background:none;
  box-shadow:none;
}

.navbar-brand{
  height:75px;
  font-size:18px;
  color:#fff !important;
  text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.navbar-brand span.text-title{
  text-transform:uppercase;
  font-weight:bold;
}

@media (max-width:767px) {
  .navbar-brand span.text-title{
    display:none;
  }
}

.navbar-brand .glyphicon{
  display:inline-block;
  font-size:36px;
  color:#fff;
  vertical-align:middle;
  margin-right:20px;
  position:relative;
  top:-2px;
}

@media (min-width:768px) {
  .navbar-nav li{
    margin-left:10px;
  }
}

.categories{
  text-align:center !important;
  margin-bottom:20px;
  border-bottom:1px solid #e4e4e4;
  padding:10px;
}

.categories li{
  display:inline-block !important;
  float:none;
}

.post-body{
  margin-top:30px;
  font-size:16px;
}

@media (min-width:992px) {
  .post-title{
    text-align:right;
    padding-right:30px;
  }
}

.post-title .author{
  text-transform:uppercase;
}

.post-body figure{
  margin-bottom:10px;
  text-align:center;
}

.post-title .author span{
  margin-left:5px;
}

.post-title h1{
  font-weight:bold;
  margin-top:30px;
}

@media (max-width:767px) {
  .post-title h1{
    margin-top:20px;
    font-size:32px;
    margin-bottom:10px;
  }
}

footer{
  padding:20px;
  text-align:center;
  background-color:#333;
  color:#fff;
}

footer h5{
  color:inherit;
}

div.container.post{
  margin-bottom:50px;
}

div#about-row.row{
  background-color:#333;
}

div#about-container.container-fluid{
}

div#services-tab.container{
}

img#logo.img-responsive{
    width: 70px;
    float: left;
    height: 60px;
}
img#logo-index.img-responsive{
    width: 200px;
    float: left;
    height: 200px;
}

div#services-tab.container-fluid{
  background-color:#333;
  overflow-y:hidden;
}

div.caption{
  background-color:#ccc;
}

.social-icon{
  width:60px;
  height:40px;
}

.social-icon{
  font-size:60px;
}

.social-icon{
  width:60px;
  height:40px;
}

h1#heading-1.text-center.text-primary{
  color:#fff;
  font-weight:bold;
  margin-top:15px;
}

h1#heading-2.text-center.text-primary{
  color:#fff;
  font-weight:bold;
}

p#txt{
  color:#fff;
    text-align: justify;
}

input#contact-name.input-lg{
  margin-left:15px;
  outline-width:thick;
  outline-style:none;
  background-color:#333;
  color:#fff;
}

input#contact-email.input-lg{
  margin-left:15px;
  outline:none;
  background-color:#333;
  color:#fff;
}

textarea#contact-msg{
  margin-left:15px;
  outline:none;
  background-color:#333;
  margin-top:10px;
}

a#submit-btn.btn.btn-primary.btn-lg{
  float:left;
  margin: 15px;
}

img.img-responsive{
  margin-bottom:15px;
}

.social-icon{
  margin-left:15px;
  width:60px;
  height:20px;
}

body{
  overflow-x:hidden;
  background-color:#fff;
}

input.input-lg{
  margin-left:15px;
  background-color:#333;
}

input.input-lg{
  margin-top:10px;
}

select.input-lg{
  margin-left:15px;
  width:253px;
  background-color:#fff;
  color:#333;
}

textarea.input-lg{
  margin-left:15px;
  margin-top:10px;
  background-color:#333;
}


div.col-md-12{
  margin-top:30px;
}

div.col-md-12{
}

div.col-md-12{
  background-color:#333;
  color:#fff;
}

div.col-md-12{
  background-color:#fff;
}

div#footer-custom.col-md-12{
  background-color:#333;
}

h1#top-heading{
  margin-top:50px;
  color:#fff;
  text-align:center;
}

h1.top-heading{
  color:#fff;
  text-align:center;
}

p#p-header{
  text-align:center;
}

h1#head1.top-heading{
  margin-top:50px;
}

.iconic{ 
  font-size: 60px;
  width:100px;
  height: 90px;
  display:block;
  margin-left:auto;
  margin-right:auto;
 margin-top: 50px;
}

img.social-icon{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:100px;
  height:100px;
}

img.our-pic{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div#pic-row.row{
  background-color:#333;
}

div#followus.col-md-12{
  background-color:#333;
}

h3.services-txt{
  color:#fff;
  text-align:center;
  font-weight:bold;
}

img.ceo-msg{
  width:100%;
  height:470px;
}

img.services-img{
  display:block;
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:200px;
  height:200px;
}

div#service-row.row{
    background: url(../../assets/img/working.jpg) no-repeat;
    width: 100%;
    background-size: cover;
}

h1.services-txt{
  color:#fff;
  text-align:center;
}

img#wp.service-img{
  width:200px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

p#me-txt.lead{
  color:#333;
  text-align:justify;
}

div#abt-me.container{
  background-color:#ccc;
}

div#me.col-md-12{
  background-color:#ccc;
}

div#me-name.col-md-12{
  background-color:#ccc;
}
#contact-slct{
    background-color: #333;
    color: #fff;
}
.item{
    float: none;
    height: 200px;
    width: 1000px;
}
.client-img{
    height: 200px;
    width:200px;
    margin-left: auto;
    display: block;
    border-radius: 5%;    
}

.services-overlay{
     background-color: #333;
    height: 550px;
    margin: 0px;
    padding-top: 60px;
    opacity: 0.8;
}

div.img:hover {
    border: 2px solid #fff;
    color: #333;
    box-shadow: 5px 5px 8px 5px #fff;
}
.table{
    border: none;
    color: cornflowerblue;
    text-align: center;
    font-weight: bolder;
}

/*custom css for a test for the store page on the website*/
.product{
    border: 1px solid #333;
    text-align: center;
}
.product-img{
    width: 200px;
    height: 200px;
    margin-left: 0px;
    margin-right: 0px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card:hover{
 background-color: #115272;
    color: #fff;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
.percentage{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*home page box images with paragraph*/
.container{
    color: #333;
    text-align: center;
}
.box{
    color: #333;
    text-align: center;
     border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px cornflowerblue;
    margin: 50px;
}
#box-1{
    margin-top: 20px;
}
#box-2{
    margin-top: 80px;
}
#box-3{
    margin-top: 130px;
}
.box-img{
    width: 200px;
    margin-left: 0px;
    margin-right: 0px;
}
